<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourcegroups/synapse_perftest_yanhon/providers/Microsoft.ContainerRegistry/registries/SynapseToolACRYanhui</ResourceId>
    <ResourceName>SynapseToolACRYanhui</ResourceName>
    <ResourceGroup>synapse_perftest_yanhon</ResourceGroup>
    <Subscription>Resolute SandBox</Subscription>
    <RegistryUrl>https://synapsetoolacryanhui.azurecr.io</RegistryUrl>
    <PublishImageTag>linux-default-debug-v1</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>x64</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>